<!DOCTYPE html>
<html>
    <%- include header.ejs %>

    <style>
        <%- include ../public/stylesheets/signin.css %>
    </style>

    <%- include menu.ejs %>

    <body class="text-center">
        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal">Checkout</h1>
            <div  class="container">
                <form method="post" action="/completeOrder" class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="name">
                    <br/>
                    <input class="form-control" type="text" placeholder="Surname" name="surname">
                    <br/>
                    <input class="form-control" type="email" placeholder="Email" value=<%= email %> name="email" readonly>
                    <br/>
                    <input class="form-control" type="tel" placeholder="Phone Number" name="phoneNo">
                    <br/>
                    <input class="form-control" type="text" placeholder="Address" name="address">
                    <br/>
                    <input class="form-control" type="text" placeholder="Credit Card Number" name="ccn">
                    <br/>
                    <span class="float-left">
                        Expiration Date:   
                    </span>     
                    <span class="float-left">
                        <select class="btn btn-info dropdown-toggle" name='expireMM' id='expireMM'>
                            <option value=''>Month</option>
                            <option value='01'>January</option>
                            <option value='02'>February</option>
                            <option value='03'>March</option>
                            <option value='04'>April</option>
                            <option value='05'>May</option>
                            <option value='06'>June</option>
                            <option value='07'>July</option>
                            <option value='08'>August</option>
                            <option value='09'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select> 
                        <select class="btn btn-info dropdown-toggle" name='expireYY' id='expireYY'>
                            <option value=''>Year</option>
                            <option value='10'>2020</option>
                            <option value='11'>2021</option>
                            <option value='12'>2022</option>
                        </select> 
                    </span>  
                    <br/>            
                    <br/>
                    <input class="form-control" type="text" placeholder="CVC" name="cvc">
                    <br/>
                    <input class="btn btn-success" type="submit" value="Buy"> 
                    Total : <%= Math.round(total*100)/100 %> <%= currency %>
                </form>
            </div>
        </div>
    </body>
</html>